.text-editor {
    margin: 40px auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
  }
  
  .title {
    color: #ffffff;
    margin-bottom: 60px;
    margin-top: 60px;
    font-family: "Staatliches", sans-serif;
    font-weight: lighter;
    font-size:xx-large;
    text-shadow: 2px 2px black;
  }
  
  .text-area {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 40px;
    resize: vertical;  
    /* border: none; */
  }
  
  .button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    
  }
  
 .btn {
    background-color: #fefae0;
    color: #ff477e;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    /* font-weight: bold; */
    font-family: "Staatliches", sans-serif;
    text-shadow: 1px 1px white; 
  }
  
  .btn:hover {
    background-color: #faedcd;
    color: #ff477e;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .summary {
    margin-top: 20px;
    text-align: left;
    background-color: #fefae0;
    padding: 15px;
    border-radius: 15px;
    padding-top: 2px;
    /* border: 2px solid #e5383b; */
  }
  
  .summary h3 {
    color: black;
    margin-bottom: 10px;
    text-shadow: 2px 2px white; 
    font-family: "Staatliches", sans-serif;
    font-weight: lighter;
  }
  
  .summary p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .summary span {
    font-weight: bold;
  }
  